{
    "$schema":"./benchmark/vendor/phpbench/phpbench/phpbench.schema.json",
    "runner.bootstrap": "benchmark/vendor/autoload.php",
    "runner.path": "benchmark/phpbench",
    "runner.php_config": {
        "extension": ["modules/simdjson.so"]
    }
}